body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Navbar CSS */
nav {
  align-items: center;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: left;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
  font-size: 18px;
}

form div {
  margin: 1em;
  display: inline-block;
}
