body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app-container {
  margin: 20px 62px 20px 62px;
  min-height: 84vh;
}
