.category-budget-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #999;
  border-radius: 30px;
  background-color: #c6f2c5;
  padding: 18px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cbl-header {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.cbl-small-options {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.cbl-small-options > small {
  display: flex;
  flex-direction: column-reverse;
  color: #313131;
  min-width: 200px;
  position: absolute;
}

.category-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: 100%;
}

.cbl-monthly-budget-container {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

.cbl-entry-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 36px;
  border-radius: 10px;
  background-color: rgb(128 208 130);
  transition-duration: 0.3s;
  cursor: pointer;
  flex: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cbl-entry-wrapper:hover {
  background-color: rgb(214 214 214);
}

.cbl-entry-text {
  cursor: pointer;
  margin: 20px;
}

/* MODAL STYLING*/

.modal-category-name {
  margin: 5px 0px 0px 0px;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.modal-save-button {
  text-align: center;
  border-radius: 30px;
  padding: 6px 12px 6px 12px;
  outline: none;
  border: 1px solid transparent;
  background-color: rgb(135, 135, 135);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 20px;
  max-width: 200px;
  transition-duration: 0.3s;
}

.modal-save-button:hover {
  background-color: #58e87e;
}

.modal-close-button-container {
  display: flex;
  flex-direction: row-reverse;
  margin: -6px;
}
.modal-close-button {
  padding: 8px;
  border-radius: 15px;
  background-color: rgb(255, 117, 117);
  outline: none;
  border: 1px solid transparent;
  transition-duration: 0.3s;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.modal-close-button:hover {
  background-color: rgb(255, 56, 56);
}

.hidden {
  visibility: hidden;
}

.modal-input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
