.dash-container {
  box-sizing: border-box;
  justify-items: auto;
  display: flex;
  background-color:#3dd7b2;
  border: 1px solid #999;
  margin-top: 10px;
  border-radius: 25px;
  height: 900px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-container {
  flex: 1 1 50%;
  flex-direction: column;
  left: 10px;
  border-top: 10px;
  width: 50%;
  overflow:auto;
  padding:10px;
  box-sizing:border-box;
  box-shadow: 10px;
  border: 1px black;
  padding: 50px;
}

.list-header {
  display: flex;
  justify-content:space-between;
}

.listed-transaction {
  display: flex;
  justify-content: space-between;
  background-color:#C4C4C4;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  right: 10px;
  height: 20px;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expand-listed-transaction {
  display: flex;
  justify-content: space-between;
  background-color:#C4C4C4;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  right: 10px;
  height: 40px;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.listed-transaction:hover {
  background-color: whitesmoke;
  color:#3dd7b2;
  transition: 0.5s;
}
.expanded-transaction-container{
  flex-direction: column;

}

.right-container {
  flex: 0 1 50%;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
  justify-content: center;
  border-radius: 25px;
  border: 1px black;
  padding: 50px;
}
.half-containers {
  flex: 0 0 100%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  overflow:inherit;
  height: 50%;
  border-radius: 25px;
  border: 1px black;
  left: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar {
  border-radius: 25px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dash-edit-button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  border-radius: 25px;
  position:relative;
  height:20px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.dash-edit-button:hover{
  background:#fff;
  color:#1AAB8A;
  border-radius: 25px;
}


