html {
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}
