.transactions-component-expanded {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  background-color: #a2dabc;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
}

.transactions-header-buttons {
  margin-left: 20px;
}
.edit-transactions-small-text-wrapper {
  margin-right: 30px;
}
.edit-transactions-small-text-wrapper > small {
  padding-top: 20px;
}

.transactions-list-expanded {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.detailed-transaction {
  display: flex;
  justify-content: space-between;
  background-color: #c6f2c5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition-duration: 0.3s;
}
.detailed-transaction:hover {
  background-color: #90ed8f;
}

.transaction-comp-exp-trans-name {
  min-width: 420px;
}

.transaction-comp-exp-trans-category {
  min-width: 125px;
}

.transaction-comp-exp-trans-amount {
  text-align: right;
  min-width: 100px;
}
.transaction-comp-exp-trans-date {
  padding-right: 10px;
}

.transaction-comp-exp-button-container {
  display: flex;
}
