.login-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.login-component-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67vh;
  height: 600px;
  margin: 0px;
}

.login-wrapper {
  background-color: #9eebd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border: 2px black;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.label-for-login {
  margin: 0px;
}

.login-component-form {
  display: flex;
  flex-direction: column;
}

.login-input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-input-wrapper input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 90%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
}

.login-header {
  text-align: center;
}
.login-helper-text {
  min-height: 20px;
  margin: 0px;
}

#login-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 3vh;
}

#login-button:hover {
  background-color: #1db954;
}

.hidden {
  visibility: hidden;
}

.helper-text {
  text-align: center;
  margin: 0px;
}
