.navbar {
  background-color:#3DD7B2;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: left;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
  font-size: 18px;
}

.banana {
  font-size: 50px;
}
