.signup-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper {
  background-color: #9eebd9;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67vh;
  height: 600px;
  border: 2px black;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.signup-wrapper > h2 {
  margin-bottom: 5vh;
  margin-top: 6vh;
}

.signup-wrapper > div {
  height: 50%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 50px;
}

.signup-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

#signup-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 13%;
}

#signup-button:hover {
  background-color: #1db954;
}
